<div class="abovemainpart">
  <div class="mainpart">
    <h2>Account Details</h2>
    <p>Registered E-mail ID : <span class="email"> xxxxxx@gxx.com </span></p>
    <div class="account-details">
      <div class="name-details">
        <p>Sayanti Seal</p>
        <p>REF ID : 39126675206610</p>
        <p>Secret Code : 6610</p>
      </div>
      <div class="id-details">
        <h4>Year of Birth: <span class="year">1998</span></h4>
        <h4>Photo ID: <span class="photo-id"> Aadhaar Card</span></h4>
        <h4>ID Number: <span class="id-no">XXXX-4118</span></h4>
      </div>
      <div class="dose-details">
        <h5>Appointment Not Schedule</h5>
        <button class="btn btn-success">Schedule</button>
      </div>
    </div>
  </div>
</div>
