.faqall h2 {
  width: fit-content;
  margin: 15px auto;
  padding-bottom: 5px;
  color: #001f60;
  border-bottom: 3px solid #ffc002;
}

.inside-faq {
  width: 90vw;
  border-radius: 8px;
  border: 1px solid #b1d7f1;
  padding: 20px 30px;
  margin: 10px auto;
  box-shadow: 1px 1px 5px 1px #b1d7f1;
}

.inside-faq p {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  padding-left: 10px;
  cursor: pointer;
}

.inside-faq p:hover {
  text-decoration: underline;
}
