<div class="faqall">
  <h2>Frequently Asked Questions on Co-WIN</h2>
  <div class="inside-faq">
    <div>
      <p>Registration</p>
      <app-registration-com></app-registration-com>
    </div>
    <div>
      <p>Scheduling Appointment</p>
    </div>
    <div>
      <p>2nd Dose Scheduling</p>
    </div>
    <div>
      <p>Vaccination</p>
    </div>
    <div>
      <p>Vaccinataion Certificate</p>
    </div>
    <div>
      <p>Reporting Side Effects</p>
    </div>
  </div>
  <!-- <button (click)="toggleDetails()">
    {{ showDetails ? "hide" : "show" }} Details
  </button> -->
</div>
