<div class="sideeffect-com">
    <dl>
        <dt>29. Whom do I contact in case of side effects from vaccination?</dt>
        <dd>You can contact on any of the following details: <br>
            <ol type="a">
            <li>Helpline Number: +91-11-23978046 (Toll free - 1075)</li>
            <li>Technical Helpline Number: 0120-4473222</li>
            <li>Helpline Email Id: support@cowin.gov.in</li>
        </ol>
            You may also contact the Vaccination Centre where you took vaccination, for advice.</dd>
    </dl>
</div>