<div class="scheduling-com">
  <dl>
    <dt>9. Can I book an appointment for vaccination in the Cov-Aid portal?</dt>
    <dd>
      Yes, you can book appointment for vaccination through Cov-Aid portal after
      logging-in to the Cov-Aid Portal through your registered E-mail ID.
    </dd>
    <dt>
      10. What are the options if one citizen is aged 45 or above and other is
      aged 18 or above?
    </dt>
    <dd>
      If one beneficiary is aged 45 or above and other beneficiary is aged 18 to
      44 years and both want to schedule a combined appointment, then only
      private paid vaccination centres or vaccination centres as per State’s
      policy will be made available. However, it may happen that some hospitals
      which are catering to people with 45 years or more may not allow the
      booking of appointments for people with lesser age. In that case you may
      make bookings one by one.
    </dd>
    <dt>
      11. Can I check the vaccine being administered at each vaccination centre?
    </dt>
    <dd>
      es, while scheduling an appointment for vaccination, the system will show
      vaccination centre names along with the name of the vaccine that will be
      administered.
    </dd>
    <dt>12. Can I download appointment slip?</dt>
    <dd>
      Yes, the appointment slip can be downloaded after the appointment has been
      scheduled.
    </dd>
    <dt>13. How can I find the nearest vaccination centre?</dt>
    <dd>
      You can search in Cov-Aid portal for the vaccination centre nearest to
      your location by either searching through PIN code or by choosing the
      State and the District.
    </dd>
    <dt>
      14. What if I cannot go for vaccination on the date of appointment? Can I
      reschedule my appointment?
    </dt>
    <dd>
      The appointment can be rescheduled at any time. In case you are not able
      to go for vaccination on the date of appointment, you can reschedule the
      appointment by clicking on “Reschedule” tab.
    </dd>
    <dt>15. Do I have an option for cancellation of appointment?</dt>
    <dd>
      Yes, you can cancel an appointment already scheduled. You can also
      reschedule the appointment and choose another date or time slot of your
      convenience.
    </dd>
    <dt>
      16. Where will I receive confirmation of date and time of vaccination?
    </dt>
    <dd>
      Once an appointment is scheduled, you will receive the details of the
      vaccination centre, date and time slot chosen for appointment in a mail
      sent to your registered E-mail ID. You can also download the appointment
      slip and print it or keep it on your smart phone.
    </dd>
    <dt>17. Can I get vaccination without appointment?</dt>
    <dd>
      Beneficiaries aged 45 years and above can schedule appointments online or
      walk-in to vaccination centres. Beneficiaries aged 18-44 years can
      schedule appointment or walk-in for vaccination in the vaccination centre.
      However, they should mandatorily register themselves and schedule
      appointment online before vaccination in Private vaccination centres.
      <br />However, all beneficiaries are recommended to register online and
      schedule vaccination in advance for a hassle-free vaccination experience.
    </dd>
    <dt>
      18. When I click on vaccination centre it shows 'No appointments are
      available in this period'. What to do?
    </dt>
    <dd>
      In case of no availability of slots for scheduling appointment for
      vaccination in the searched vaccination centre, you may try scheduling
      appointment in other nearby centres. The portal gives you the feature of
      searching vaccination centres using your PIN code and District.
    </dd>
    <dt>
      19. What is the 4-digit secret code on the Account Details page of
      self-registration portal on Cov-Aid?
    </dt>
    <dd>
      At the time of vaccination, you may be asked for the 4-digit secret code.
      This is to ensure that the rightful beneficiary receives the vaccine
      dosage and there is no misuse.
    </dd>
  </dl>
</div>
