<div class="certificate-com">
  <dl>
    <dt>23. Why do I need a vaccination certificate?</dt>
    <dd>
      A COVID Vaccine Certificate (CVC) issued by the government offers an
      assurance to the beneficiary on the vaccination, type of vaccine used, and
      the provisional certificate also provides the next vaccination due. It
      also is an evidence for the beneficiary to prove to any entities which may
      require proof of vaccination specially in case of travel. Vaccination not
      only protects individuals from disease, but also reduces their risk of
      spreading the virus. Therefore, there could be a requirement in future to
      produce certificate for certain kind of social interactions and
      international travel. <br />
      In this context the certificate issued by Cov-Aid has built in security
      features to guarantee genuineness of the certificate which can be
      digitally verified using approved utilities which are provided in Cov-Aid
      portal.
    </dd>
    <dt>24. Where can I download vaccination certificate from?</dt>
    <dd>
      You can download vaccination certificate from the Cov-Aid portal by
      following the simple steps. You may do so by using the E-mail ID used at
      the time of registration.
    </dd>
  </dl>
</div>
