<div *ngIf="sContentData">
  <div class="search-options">
    <span>Age 18+</span>
    <span>Age 45+</span>
    <span>Covishield</span>
    <span>Covaxin</span>
    <span>Sputnik V</span>
    <span>Free</span>
    <span>Paid</span>
  </div>
  <p class="search-p">
    <b>NOTE :</b> The slots availability data displayed in the pincode or
    district search is provided by the state govt and private hospitals. The
    total availability slots includes Dose-1 and Dose-2 slots. While we have
    real-time data, slot availability on CoWin changes rapidly.
    <b>D1: Dose 1, D2: Dose 2</b>
  </p>
</div>
