.search-options {
  width: fit-content;
  margin: 0 auto;
}

.search-options span {
  border: 1px solid #aaa;
  padding: 7px;
  border-radius: 7px;
  font-size: 15px;
  margin: 10px;
  cursor: pointer;
}

.search-p {
  width: 50rem;
  margin: 20px auto;
}

.slot-main {
  width: 885px;
  margin: 0 auto;
}

.avail {
  padding: 3px 5px;
  background-color: #66ff8aaa;
}

.n-avail {
  padding: 3px 5px;
  background-color: #ff595faa;
}
