<nav class="dashboard-Navbar">
  <div class="nav-head">
    <div class="nav-head-left">
      <img src="../assets/images/ashok-stambh.png" alt="" />
      <p>Ministry of Health and Family Welfare</p>
    </div>
    <div class="nav-head-right">
      <span class="faq">FAQ</span>
      <span><i class="fas fa-phone-alt"></i> 1075</span>
    </div>
  </div>
  <div class="nav-2ndHead">
    <div>
      <h1>Cov-Aid</h1>
      <p>Winning Over Covid - 19</p>
    </div>
    <a routerLink="/login" class="btn btn-success">Login</a>
    <a routerLink="/login" class="btn btn-success">Register</a>
  </div>
</nav>

<div class="main-body">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <p>Copyright © 2021 COVID. All Rights Reserved</p>
  <div>
    <span>Privacy Policy</span>
    <span>Terms of Service</span>
  </div>
</footer>
