.help-line {
  background-color: #ffffff;
  padding-top: 10px;
}

.help-line h4 {
  text-align: center;
  font-weight: 800;
}

.homehelp {
  display: flex;
  justify-content: center;
}

.help-inner {
  display: flex;
  margin: 20px 30px 10px;
  align-items: center;
}

.help-inner i {
  margin-right: 10px;
}

.help-inner h5 {
  font-weight: bold;
}

.search-center {
  padding: 20px 0;
}

.search-center h5 {
  text-align: center;
  font-weight: 700;
}

.search-center-btns {
  display: flex;
  width: fit-content;
  margin: 20px auto 0;
  border: 1px solid #ddd;
  border-radius: 40px;
}

.btn-center-on,
.btn-center-off {
  width: 168px;
  padding: 10px 20px;
  border-radius: 40px;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-center-on {
  color: #fff;
  background-color: #18b5ba;
}

.btn-center-off {
  color: #212529;
  background-color: #fff;
}

.howitworks {
  text-align: center;
  background-color: #fdbc00;
  padding-top: 40px;
  padding-bottom: 30px;
}

.howitworks h3 {
  text-decoration: underline;
  padding-bottom: 30px;
}

.insideworks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.worksinner img {
  max-width: 100%;
  height: 100px;
  margin-bottom: 20px;
}

.worksinner h2 {
  font-weight: 700;
  font-size: medium;
}

.worksinner p {
  text-align: center;
  padding-right: 50px;
  padding-left: 40px;
  width: 340px;
}
