.help-line {
  background-color: #ffe8fd;
  padding-top: 10px;
}

.help-line h5 {
  text-align: center;
  font-weight: 700;
}

.homehelp {
  display: flex;
  justify-content: center;
}

.help-inner {
  display: flex;
  margin: 20px 30px 10px;
  align-items: center;
}

.help-inner i {
  margin-right: 10px;
}

.search-center {
  padding: 20px 0;
}

.search-center h5 {
  text-align: center;
  font-weight: 700;
}

.search-center-btns {
  display: flex;
  width: fit-content;
  margin: 20px auto 0;
  border: 1px solid #ddd;
  border-radius: 40px;
}

.search-center-btns .btn {
  width: 168px;
  padding: 10px 20px;
  border-radius: 40px;
}

.btn-center {
  background-color: blue;
  color: #fff;
}

.myname {
  background-color: aqua;
}

.howitworks{
  text-align: center;
  background-color: hsl(45, 98%, 50%);
  padding-top: 40px;
  padding-bottom: 30px;
}

.howitworks h3{
  text-decoration: underline;
  padding-bottom: 30px;
}

.insideworks{
  display: flex;
  justify-content: center;
}

.worksinner img{
  max-width: 100%;
  height: 100px
}

.worksinner h2{
  font-weight: 700;
  font-size: medium;
}

.worksinner p{
  text-align: center;
}