<div class="form-style-5">
  <form>
    <fieldset>
      <legend><b>Register for Vaccination</b></legend>
      <p>
        Your Photo ID will be verified at the time of your vaccination
        appointment. Please provide the details of the Photo Id you will carry
        for vaccination.
      </p>
      <input type="text" name="field1" placeholder="Your Name *" />
      <input type="text" name="field2" placeholder="Photo Id Number *" />
      <label for="job">Date-Of-Birth:</label>
      <input type="date" name="field3" placeholder="Year of birth *" />
      <label for="job">Photo ID Proof:</label>
      <select id="job" name="field4">
        <optgroup label="Photo ID Proof">
          <option>Select type of Id</option>
          <option value="Addhar Card">Addhar Card</option>
          <option value="Voter Card">Voter Card</option>
          <option value="Driving Liscense">Driving Liscense</option>
          <option value="Passport">Passport</option>
          <option value="PAN Card">PAN Card</option>
        </optgroup>
      </select>
    </fieldset>
    <input type="submit" value="Register" />
  </form>
</div>
